body {
  font-size: 20px;
  font-family: Tahoma, "Trebuchet MS", Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  line-height: 2.5;
  text-align: justify;
  text-indent: 4em;
}

strong {
  text-align: center;
  font-size: 25px;
  color: #faaa8d;
  background: #feefdd;
}